<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        *{
            background-color: black;
            color:white
        }
        button{
            border-color: aqua;
        }
        input{
            background-color: rgb(66, 66, 66);
            color: white;
            border-color: aqua;
        }
    </style>
</head>
<body>
    <center>
        <h3 id="mensaje-pantalla">Bienvenido, indique su usuario y contraseña</h3>
        <form id="form-login">
            <table>
                <tr>
                    <td>Username: </td>
                    <td><input type="text" name="username" required></td>
                </tr>
                <tr>
                    <td>Password: </td>
                    <td><input type="password" name="password" required></td>
                </tr>
            </table>
            <br>
            <button type="submit">Iniciar sesión</button>
        </form>

        <script>
            document.getElementById('form-login').addEventListener('submit', async function(event) {
                event.preventDefault(); // Evitamos que la página se recargue

                const formData = new FormData(this);
                // Aquí va la URL exacta de tu Render apuntando a /api/login
                const url_render = "https://flask-proyecto-examen-parcial.onrender.com/api/login";

                try {
                    const respuesta = await fetch(url_render, { method: 'POST', body: formData });
                    const datos = await respuesta.json();

                    if (datos.status === "exito") {
                        // Guardamos el usuario de forma segura en Vercel
                        localStorage.setItem("usuarioActivo", datos.usuario);
                        // Viajamos a la página principal
                        window.location.href = "principal.html"; 
                    } else {
                        document.getElementById("mensaje-pantalla").innerText = datos.mensaje;
                        document.getElementById("mensaje-pantalla").style.color = "red";
                    }
                } catch (error) {
                    document.getElementById("mensaje-pantalla").innerText = "Error conectando al servidor.";
                }
            });
        </script>
    </center>
</body>
</html>