<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <style>
        *{ 
            background-color: black; 
            color:white 
        }
        button{ 
            border-color: aqua; 
            cursor: pointer; 
            padding: 10px; 
            margin: 10px;
        }
        body{ 
            align-content: center; 
        }
    </style>
</head>
<body>
    <center>
        <h1 id="bienvenida">Cargando...</h1>
        
        <button onclick="window.location.href='buscador.html'">Buscador</button>
        <br>
        <button onclick="cerrarSesion()">Cerrar Sesión</button>
    </center>

    <script>
        // Verificamos si hay alguien logueado en el navegador
        const usuario = localStorage.getItem("usuarioLogueado");
        if (!usuario) {
            window.location.href = "login.html"; // Lo regresamos si no hay acceso
        } else {
            document.getElementById("bienvenida").innerText = `Bienvenido ${usuario} a la página principal`;
        }

        function cerrarSesion() {
            localStorage.removeItem("usuarioLogueado");
            window.location.href = "login.html";
        }
    </script>
</body>
</html>