<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Principal</title>
    <style>
        *{ background-color: black; color:white }
        button{ border-color: aqua }
    </style>
</head>
<body>
    <center>
        <h1 id="bienvenida">Cargando...</h1>
        <br>
        
        <button onclick="window.location.href='buscador.html'">Buscador</button>
        <br><br>
        <button onclick="cerrarSesion()">Cerrar Sesión</button>
    </center>

    <script>
        // 1. Verificamos si existe una sesión activa
        const usuario = localStorage.getItem("usuarioActivo");
        
        if (!usuario) {
            // Si intenta entrar como intruso, lo devolvemos al login
            window.location.href = "login.html";
        } else {
            // Le damos la bienvenida
            document.getElementById("bienvenida").innerText = `Bienvenido ${usuario} a la página principal`;
        }

        // 2. Función para salir
        function cerrarSesion() {
            localStorage.removeItem("usuarioActivo"); // Destruimos la sesión
            window.location.href = "login.html"; // Regresamos al inicio
        }
    </script>
</body>
</html>